* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url("../assets/background_photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #544541;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}

.container.pre {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: auto;

  /* border: 1px dashed #ff0000; */
  grid-column: 1;
  grid-row: 1;
  z-index: 0;
}

.container.post {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .5fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 5vh;
  width: 50vw;
  min-width: min-content;
  height: auto;

  /* border: 1px dashed #ff0000; */
  grid-column: 1;
  grid-row: 1;
  z-index: -1;
}

.card {
  justify-self: center;
  width: 200px;
  height: 300px;
  background-image: url("../assets/start.png");
  background-size: cover;

  /* border: 1px dashed #ff0000 Dashed Red Line to help with Debugging/Visualization */
  cursor: pointer;
  margin: 10px;
  perspective: 1000px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card-flip {
  transform: rotateY(360deg);
}

.card.middle {
  grid-column: 2;
  grid-row: 2;
}

.card.top {
  grid-column: 2;
  grid-row: 1;
}

.card.bottom {
  grid-column: 2;
  grid-row: 3;
}

.card.left {
  grid-column: 1;
  grid-row: 2;
}

.card.right {
  grid-column: 3;
  grid-row: 2;
}

#disp-fort-butt {
  font-size: 2em;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  color: black;
  padding: 5px 20px;
  border-radius: 10px;
  max-width: 2500px;
  max-height: 100px;
  animation: glowing 3000ms infinite;
  z-index: 3;
  cursor: pointer;
}

#top-card-image {
  grid-column: 2;
  grid-row: 2;
}

#top-card-fortune {
  grid-column: 3;
  grid-row: 2;
}

#right-card-image {
  grid-column: 2;
  grid-row: 3;
}

#right-card-fortune {
  grid-column: 3;
  grid-row: 3;
}

#bottom-card-image {
  grid-column: 2;
  grid-row: 4;
}

#bottom-card-fortune {
  grid-column: 3;
  grid-row: 4;
}

#left-card-image {
  grid-column: 2;
  grid-row: 5;
}

#left-card-fortune {
  grid-column: 3;
  grid-row: 5;
}

#middle-card-image {
  grid-column: 2;
  grid-row: 6;
}

#middle-card-fortune {
  grid-column: 3;
  grid-row: 6;
}

.fortunes {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  color: black;
  padding-right: 5vw;
}

.card-name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#receipt-header {
  padding-top: 5vh;
  grid-column-start: span 3;
  justify-self: center;
}

#receipt-footer {
  grid-row: 7;
  grid-column-start: span 3;
  justify-self: center;
}

#receipt-footer *,
#receipt-header * {
  font-family: "Courier New", Courier, monospace;
}

#top-card-name,
#right-card-name,
#bottom-card-name,
#left-card-name,
#middle-card-name {
  justify-self: center;
}

.quantity {
  grid-column: 1;
}

#welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#welcome-page h1 {
  font-size: 4em;
  font-weight: bold;
}

#start-button {
  font-size: 3em;
  padding: 10px;
  margin-top: 20px;
  color: black;
  border-radius: 10px;
  max-width: 2500px;
  max-height: 100px;
  animation: glowing 3000ms infinite;
  z-index: 3;
  cursor: pointer;
}

.fade-out {
  transition: opacity 2s ease-out;
  opacity: 0;
}

.fade-out-cards {
  transition: opacity 5s ease-out;
  opacity: 0;
}

.deck {
  position: absolute;
  grid-column: 2;
  grid-row: 2;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@keyframes glowing {
  0% {
    background-color: #79abed;
    box-shadow: 0 0 5px #79abed;
  }

  50% {
    background-color: #4082da;
    box-shadow: 0 0 20px #4082da;
  }

  100% {
    background-color: #79abed;
    box-shadow: 0 0 5px #79abed;
  }
}

@keyframes card0Animation {
  from { grid-column: 2; grid-row: 2; }
  to { grid-column: 2; grid-row: 1; }
}
@keyframes card1Animation {
  from { grid-column: 2; grid-row: 2; }
  to { grid-column: 3; grid-row: 2; }
}
@keyframes card2Animation {
  from { grid-column: 2; grid-row: 2;}
  to { grid-column: 2; grid-row: 3; }
}
@keyframes card3Animation {
  from { grid-column: 2; grid-row: 2; }
  to { grid-column: 1; grid-row: 2; }
}
@keyframes card4Animation {
  from { grid-column: 2; grid-row: 2; }
  to { grid-column: 2; grid-row: 2; }
}
