* {
  font-family: Papyrus;
}

body {
  background-color: #634f48;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
}

.container.pre {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: auto;

  /* border: 1px dashed #ff0000; */
  grid-column: 1;
  grid-row: 1;
  z-index: 0;
}

.container.post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  /* width: 1000px;
  height: 1500px; */

  /* border: 1px dashed #ff0000; */
  grid-column: 1;
  grid-row: 1;
  z-index: -1;
}

.card {
  justify-self: center;
  width: 200px;
  height: 300px;
  background-image: url("../assets/start.png");
  background-size: cover;

  /* border: 1px dashed #ff0000 Dashed Red Line to help with Debugging/Visualization */
  cursor: pointer;
  margin: 10px;
  perspective: 1000px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card-flip {
  transform: rotateY(360deg);
}

.card.middle {
  grid-column: 2;
  grid-row: 2;
}

.card.top {
  grid-column: 2;
  grid-row: 1;
}

.card.bottom {
  grid-column: 2;
  grid-row: 3;
}

.card.left {
  grid-column: 1;
  grid-row: 2;
}

.card.right {
  grid-column: 3;
  grid-row: 2;
}

#button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: auto;
}

@keyframes glowing {
  0% {
    background-color: #c0ffee;
    box-shadow: 0 0 5px #c0ffee;
  }
  50% {
    background-color: #4082da;
    box-shadow: 0 0 20px #4082da;
  }
  100% {
    background-color: #c0ffee;
    box-shadow: 0 0 5px #c0ffee;
  }
}

#disp-fort-butt {
  font-size: large;
  grid-column: 3;
  grid-row: 3;
  color: black;
  padding: 5px 20px;
  border-radius: 10px;
  max-width: 250px;
  animation: glowing 3000ms infinite;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  display: none;
}
