* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-image: url("../assets/background/background_photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #544541;
}

.nav-settings {
  display: grid;
  width: 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
}

#logo {
  border-radius: 45px;
  /* background-color: rgba(192, 255, 238, 74.5%); */
  background-color: #C0FFEEBE;
  padding: 12px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#welcome-msg {
  background-color: #fbffed;
  border-style: solid;
  border-color: rgba(0, 0, 0, 100%);
  padding: 10px;
}

#volume-button {
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  padding: 8px;
  cursor: pointer;
  background-color: transparent;
  grid-row: 1;
  grid-column: 1;
}

.volume-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../assets/settings/volume_level_2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#settings-popup {
  display: flex;
  border-radius: 20px;
  background-color: #e8e4c95c;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 20%);
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

#home-button {
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  padding: 8px;
  cursor: pointer;
  background-color: transparent;
  grid-row: 1;
  grid-column: 2;
}

.home-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../assets/settings/home.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#volume-slider {
  width: 150px;
  align-self: center;
  justify-self: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}

.container.pre {
  position: relative;
  top: -10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: auto;

  /* border: 1px dashed #ff0000; */
  grid-column: 1;
  grid-row: 1;
  z-index: 0;
}

.container.post {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.1fr 0.5fr;
  grid-row-gap: 5vh;
  width: 50vw;
  min-width: min-content;
  height: auto;

  /* border: 1px dashed #ff0000; */
  grid-column: 1;
  grid-row: 1;
  z-index: -1;
}

.card {
  justify-self: center;
  width: 200px;
  height: 300px;
  background-image: url("../assets/card_package/start.png");
  background-size: cover;

  /* border: 1px dashed #ff0000 Dashed Red Line to help with Debugging/Visualization */
  cursor: pointer;
  margin: 10px;
  perspective: 1000px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card-flip {
  transform: rotateY(360deg);
}

.card.middle {
  grid-column: 2;
  grid-row: 2;
}

.card.top {
  grid-column: 2;
  grid-row: 1;
}

.card.bottom {
  grid-column: 2;
  grid-row: 3;
}

.card.left {
  grid-column: 1;
  grid-row: 2;
}

.card.right {
  grid-column: 3;
  grid-row: 2;
}

#top-card-image {
  grid-column: 2;
  grid-row: 2;
}

#top-card-fortune {
  grid-column: 3;
  grid-row: 2;
}

#right-card-image {
  grid-column: 2;
  grid-row: 3;
}

#right-card-fortune {
  grid-column: 3;
  grid-row: 3;
}

#bottom-card-image {
  grid-column: 2;
  grid-row: 4;
}

#bottom-card-fortune {
  grid-column: 3;
  grid-row: 4;
}

#left-card-image {
  grid-column: 2;
  grid-row: 5;
}

#left-card-fortune {
  grid-column: 3;
  grid-row: 5;
}

#middle-card-image {
  grid-column: 2;
  grid-row: 6;
}

#middle-card-fortune {
  grid-column: 3;
  grid-row: 6;
}

.fortunes {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  color: black;
  padding-right: 5vw;
}

.card-name {
  font-family: "Courier New", Courier, monospace;
}

#receipt-header {
  padding-top: 5vh;
  grid-column-start: span 3;
  justify-self: center;
}

#receipt-footer {
  grid-row: 7;
  grid-column-start: span 3;
  justify-self: center;
  font-family: "Courier New", Courier, monospace;
}

#receipt-img {
  justify-content: center;
  width: 200px;
  grid-column: 2;
  padding-bottom: 40px;
}

#receipt-header * {
  font-family: "Courier New", Courier, monospace;
}

#top-card-name,
#right-card-name,
#bottom-card-name,
#left-card-name,
#middle-card-name {
  justify-self: center;
}

#welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#welcome-page h1 {
  font-size: 4em;
  font-weight: bold;
}

#start-button {
  font-size: 3em;
  padding: 10px;
  margin-top: 20px;
  color: black;
  border-radius: 10px;
  max-width: 2500px;
  max-height: 100px;
  animation: glowing 3000ms infinite;
  z-index: 3;
  cursor: pointer;
}

.fade-out {
  transition: opacity 2s ease-out;
  opacity: 0;
}

.fade-out-cards {
  transition: opacity 5s ease-out;
  opacity: 0;
}

.deck {
  position: absolute;
  grid-column: 2;
  grid-row: 2;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@keyframes glowing {
  0% {
    background-color: #f0bd3c;
    box-shadow: 0 0 5px #f0bd3c;
  }

  50% {
    background-color: #edb3219b;
    box-shadow: 0 0 20px #edb3219b;
  }

  100% {
    background-color: #f0bd3c;
    box-shadow: 0 0 5px #f0bd3c;
  }
}

@keyframes card0-animation {
  from { grid-column: 2; grid-row: 2; }
  to { grid-column: 2; grid-row: 1; }
}

@keyframes card1-animation {
  from { grid-column: 2; grid-row: 2; }
  to { grid-column: 3; grid-row: 2; }
}

@keyframes card2-animation {
  from { grid-column: 2; grid-row: 2; }
  to { grid-column: 2; grid-row: 3; }
}

@keyframes card3-animation {
  from { grid-column: 2; grid-row: 2; }
  to { grid-column: 1; grid-row: 2; }
}

@keyframes card4-animation {
  from { grid-column: 2; grid-row: 2; }
  to { grid-column: 2; grid-row: 2; }
}
