name: Code Climate Test Coverage
on:
  push:
  pull_request:
    branches: ["main"]
jobs:
  coverage:
    name: coverage
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@master
      with:
        node-version: '12'
    - run: npm install -g yarn
    - run: yarn install
    - run: yarn build
    - uses: paambaati/codeclimate-action@v2.5.7
      env:
        CC_TEST_REPORTER_ID: 75402249aa8ad805943345af3ec632bb1ed9d8b853849c8925cd6d602931d4c4
      with:
        coverageCommand: yarn coverage
