name: Code Climate Test Coverage
on:
  push:
  pull_request:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install modules
      run: yarn
  run-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: paambaati/codeclimate-action@v4.0.0
      - name: Test & publish code coverage
        env:
          CC_TEST_REPORTER_ID: 75402249aa8ad805943345af3ec632bb1ed9d8b853849c8925cd6d602931d4c4
        with:
          coverageCommand: yarn test --coverage
          coverageLocations: ${{github.workspace}}/coverage/lcov.info:lcov
